.container.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Hacer que el iframe de Vimeo ocupe toda la pantalla */
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 122vh;
  z-index: -1;
  border: none;

  /* Ajustar la relación de aspecto del video */
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: var(--text-color-claro);
  font-family: var(--text-font-bold);
  text-align: left;
  text-transform: uppercase;
}

.titulo {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.subtitulo {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--text-color-claro);
  font-family: var(--text-font-uppercase);
  font-weight: 100;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* Ajustes específicos para mobile */
@media (max-width: 768px) {
  .video-bg {
    display: none;
  }

  .container.hero {
    background-image: url("/src/assets/heromobile.JPG");
    background-position: center;
    background-size: cover;
  }

  h1 {
    font-size: 1.5rem;
    color: var(--text-color-claro);
    font-family: var(--text-font-bold);
    text-align: left;
    text-transform: uppercase;
  }
  
  .titulo {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
  
  .subtitulo {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--text-color-claro);
    font-family: var(--text-font-uppercase);
    font-weight: 100;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}
